nav {
    height: 10vh;
}

#search {
    margin: 0 auto;
}

.search-bar {
    background-color: rgba(0, 0, 0, 0) !important;
    border: none;
    border-bottom: 1px solid white;
    border-radius: 0;
    color: white;
    width: 30vw;
}

.search-bar:focus {
    outline:0px !important;
    -webkit-appearance:none;
    box-shadow: none !important;
    border-bottom: 3px solid white;
}
.lupa {
    transition: all .2s ease-in-out;
}
.lupa:hover {
    transform: scale(1.1);
}

.nav-text-style {
    color: white;
}

.nav-text-style:hover {
    color: white;
    font-weight: 600;
}

.profile-icon {
    width: 50px;
    transition: all .2s ease-in-out;
}

.profile-icon:hover {
    transform: scale(1.1);
}