* {
    font-family: 'Montserrat', sans-serif;
    color: black;
}

.container-fluid {
    background: url(img/bg_img.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100vh;
}

.logo-text {
    color: white;
}

nav {
    height: 10vh;
}

.row {
    height: 90vh;
}

form {
    padding: 60px 40px 60px 40px;
}

.btn-signin {
    background-color: black;
    border-radius: 0;
    border: none;
    margin: 20px 70px 20px 70px;
}

.btn-signin:hover {
    background-color: #3E3E3E;
}

.input-field {
    border-radius: 0;
    border: none;
    border-bottom: 1px solid black;
}

.input-field:focus {
    outline:0px !important;
    -webkit-appearance:none;
    box-shadow: none !important;
    border-bottom: 2px solid black;
}
.try-it {
    color: black;
}

.try-it:hover {
    color: black;
}